/*pre code.hljs{display:block;overflow-x:auto;}code.hljs{padding:3px 5px}
.hljs {
   background: #1e1e1e;
   color: var(--color-front) !important;
   padding: 0.25em 0em 0.25em 0em !important;
}
.hljs-regexp {
   color: #dcdcdc !important
}
.hljs-keyword, .hljs-literal, .hljs-name, .hljs-symbol {
   color: #569cd6 !important
}
.hljs-link {
   color: #569cd6 !important;
   text-decoration: underline
}
.hljs-built_in, .hljs-type {
   color: #4ec9b0 !important
}
.hljs-class, .hljs-number {
   color: #b8d7a3 !important
}
.hljs-meta .hljs-string, .hljs-string {
   color: #d69d85 !important
}
.hljs-template-tag {
   color: #9a5334 !important
}
.hljs-formula, .hljs-function, .hljs-params, .hljs-subst, .hljs-title {
   color: var(--color-front) !important;
}
.hljs-comment, .hljs-quote {
   color: #57a64a !important;
   font-style: italic
}
.hljs-doctag {
   color: #608b4e !important
}
.hljs-meta, .hljs-meta .hljs-keyword, .hljs-tag {
   color: #9b9b9b !important
}
.hljs-template-variable, .hljs-variable {
   color: #bd63c5 !important
}
.hljs-attr, .hljs-attribute {
   color: #9cdcfe !important
}.hljs-section{color:gold}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:660}
.hljs-bullet, .hljs-selector-attr, .hljs-selector-class, .hljs-selector-id, .hljs-selector-pseudo, .hljs-selector-tag {
   color: #d7ba7d !important
}.hljs-addition{background-color:#144212;display:inline-block;width:100%}.hljs-deletion{background-color:#600;display:inline-block;width:100%}

*/

pre code.hljs {
   display: block;
   overflow-x: auto;
}

code.hljs {
   padding: 3px 5px;
}

.hljs {
   color: var(--color-hljs) !important;
   background: transparent !important;
   padding: 0.25em 0em !important;
}

.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
   color: var(--color-hljs-doctag) !important;
}

.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
   color: var(--color-hljs-title) !important;
}

.hljs-link {
   text-decoration: underline
}

.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id,
.hljs-variable {
   color: var(--color-hljs-attr) !important;
}

.hljs-meta .hljs-string,
.hljs-regexp,
.hljs-string {
   color: var(--color-hljs-meta) !important;
}

.hljs-built_in,
.hljs-symbol {
   color: var(--color-hljs-built) !important;
}

.hljs-code,
.hljs-comment,
.hljs-formula {
   color: var(--color-hljs-code) !important;
}

.hljs-name,
.hljs-quote,
.hljs-selector-pseudo,
.hljs-selector-tag {
   color: var(--color-hljs-name) !important;
}

.hljs-subst,
.hljs-emphasis,
.hljs-strong {
   color: var(--color-hljs-subst) !important;
}

.hljs-section {
   color: var(--color-hljs-section) !important;
   font-weight: 660;
}

.hljs-bullet {
   color: var(--color-hljs-bullet) !important;
}

.hljs-emphasis {
   font-style: italic;
}

.hljs-strong {
   font-weight: 660;
}

.hljs-addition {
   color: var(--color-hljs-add) !important;
   background-color: var(--color-hljs-add-bg) !important;
   display: inline-block;
   width: 100%
}

.hljs-deletion {
   color: var(--color-hljs-del) !important;
   background-color: var(--color-hljs-del-bg) !important;
   display: inline-block;
   width: 100%
}